XYWE.exe
core/*.dll
core/*.exe
core/*.exe.config
core/editor
core/editorObj
core/data/update
core/data/data.ini
core/source/ui/xywe/WorldEditStrings/Tip.txt
*.exe.manifest
*.lastcodeanalysissucceeded
*.vshost.exe
*.xml
Develop/*/obj/
*.pdb
*.vs/
