*.aps
*.bsc
*.exp
*.ilk
*.lastbuildstate
*.pdb
*.pyc
*.suo
*.user
*.sdf
*.opensdf
*.ipch
*.sln.cache
*.db
*.DS_Store
*.vs/
Development/Editor/Component/jass/japi/YDWEJapiOther.j
!Development/Component/bin
!Build/lua/luabuild/bin
!OpenSource/Boost/Boost/preprocessor/debug
!OpenSource/jpeg/build
!OpenSource/png/build
!OpenSource/zlib/build
!ThirdParty/RadGameTools/MSS/6.1a/Binaries/x64